@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/variables';

.offert-down {
  @include layout(flex, column, center, center, initial);
  @include respond(phone) { @include layout(inherit, row, flex-start, stretch, initial) }

  &__image {
    margin-bottom: 4rem;
    @include OffertImageStyle;
    border-bottom-left-radius: 1.5rem;
    border-bottom-right-radius: 1.5rem;
    @include respond(phone) {
      @include sizing(0, unset, 50%, initial);
      box-shadow: none;
      border-radius: 0;
    }
  }

  &__section {
    @include layout(flex, column, center, center, initial);
    color: $white;
    flex: 1;

    @include respond(phone) {
      text-align: left;
      flex-direction: row;
      align-items: stretch;
    }
  }
  &__textarea {
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
      rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-color: $light-orange;
    flex: 1;
    max-width: 80%;
    padding: 2rem;
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    @include layout(flex, column, center, center, initial);

    @include respond(phone) {
      box-shadow: none;
      text-align: left;
      border-radius: 0;
      max-width: 50%;
      margin: 0;
    }

    &__content {
      @include layout(flex, column, center, center, initial);
      text-align: center;
      @include respond(phone) {
        @include layout(flex, column, flex-start, flex-start, initial);
        text-align: start;
        min-width: 25vw;
        margin: 1rem 0 1rem 3rem;
      }
      @include respond(tab-port) { margin-left: 3rem; }
      @include respond(tab-land) { margin-left: 6rem; }
      @include respond(desktop) { margin-left: 10rem; }
    }
  }
  &__heading {
    @include typography($white, 600, 1.5rem, initial, initial, normal);
    display: flex;
    flex-direction: column;
    width: 100%;
    @include respond(tab-port) { font-size: 2rem; }
    @include respond(tab-land) { font-size: 3rem; }
    @include respond(desktop) { font-size: 4rem; }
  }

  &__description {
    font-size: 1rem;
    margin-top: 1rem;

    @include respond(tab-port) {
      font-weight: 100;
      font-size: 1.2rem;
      margin-top: 1.5rem;
    }
    @include respond(tab-land) {
      font-size: 1.5rem;
      font-weight: 200;
      max-width: 30vw;
    }
  }

  &__button { 
    @include OffertButton;
    
  }
}
