@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

$font-family: "Open Sans";
$font-size: 62.5%;

$light-orange: #deb37e;
$dark-orange: #e2a355;
$light-grey: #7f7770;
$dark-grey: #54524f;
$white: #fff;
