@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/variables';

.explore {
  @include background(url("../../media/hike_bottom.png"), no-repeat, center, cover);
  position: relative;
  z-index: 2;

  &__space-top {
    @include background(url("../../media/shape_top_v2.png"), no-repeat, bottom, cover);
    @include sizing(0, 0, 100%, 5rem);
    @include respond(phone) { height: 8rem }
    @include respond(tab-land) { height: 12rem }
    top: 0;
    z-index: 2;
  }
  &__space-bottom {
    @include background(url("../../media/shape_bottom.png"), no-repeat, none, cover);
    @include sizing(0, 0, 100%, 2rem);
    @include respond(phone) { height: 8rem; }
    bottom: 0;
  }
  &__textarea {
    z-index: 1;
    @include sizing(0 0 20rem 0, 0, 100%, auto);
    @include layout(flex, none, flex-end, center, none);
    @include respond(tab-port) { margin: 15rem 0 }
  }

  &__heading {
    @include typography($light-orange, 800, 1.5rem, uppercase, none, unset);
    @include layout(flex, row, center, flex-end, none);
    @include sizing(0, 1.5rem, 100%, initial);
    font-style: italic;
    text-shadow: 0.3rem -0.2rem 5px rgba(84, 82, 79, 0.5);
    @include respond(phone) { font-size: 3rem}
    @include respond(tab-port) {
      @include layout(flex, column, flex-end, end, none);
      @include sizing(0 2rem 0 0, unset, 100%, initial);
      font-size: 5rem;
      box-shadow: none;
      background: none;
      border: none;
      backdrop-filter: none;
    }
    @include respond(tab-land) {
      font-size: 5rem;
      margin-right: 3rem;
    }
    @include respond(desktop) {
      font-size: 6rem;
      margin-right: 6rem;
    }
    @include respond(ultra-wide) { font-size: 8rem; }
  }
  &__text {
    color: #54524f;
    text-decoration: none;
    text-shadow: 0.3rem -0.2rem 5px rgba(84, 82, 79, 0.5);
    margin-left: .5rem
  }
}
