@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/position';
@import '../../variables/scale';
@import '../../variables/typography';
@import '../../variables/variables';

.container {
  @include position(flex, none, space-around, center, none);

  .card {
    @include position(flex, column, center, center, none);
    border: none;
    margin-top: 4.7rem;

    &__description {
      background-color: $light-grey;
      color: #fff;
      padding: 2rem 1rem;
      max-width: 14rem;
      @include respond(tab-port) { max-width: 21.2rem; }

      &__title { @include typography($white, 600, 1.6rem, none, none, normal); }

      &__text {
        @include typography($white, 200, 1.2rem, none, none, normal);
        margin-top: 0.8rem;
      }
    }
    &__image {
      max-width: 14rem;
      @include respond(tab-port) { max-width: 21.5rem; }
    }
  }
}
