@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/variables';


header {
  @include background(url("../../media/fixed_shape.png"), no-repeat, bottom center, cover );
  position: relative;
  @include sizing(unset, unset, 100%, 9rem);
  @include respond(phone) { height: 12rem }
  @include respond(tab-port) { height: 13rem }
  @include respond(ultra-wide) {
    background-position-y: -4rem;
    height: 20rem;
  }


  &::after {
    @include layout(block, initial, initial, initial, absolute);
    left: 0;
    right: 0;
    z-index: -5;
  }


  .row {
    @include layout(flex, initial, space-between, center, initial);
    .navbar {
      &--logo {
        @include sizing(1rem 0 0 3rem, unset, 40%, 40%);
        @include respond(phone) { @include sizing(2.5rem 0 0 4rem, unset, auto, auto) }
        @include respond(big-desktop) { margin: 2.5rem 0 0 4.7rem }
        cursor: pointer;
        transition: all 0.1s;
        &:hover { opacity: 0.75 }
      }
    }

    
    .nav-list {
      &__items {
        @include layout(flex, initial, flex-end, center, initial);
        margin-top: 2rem;
        list-style: none;
      }
      &__item {
        display: inline;
        @include respond(tab-port) { margin-right: 0.2rem }
        @include respond(tab-land) { margin-right: 2rem }
      }
      &__input {
        @include typography($dark-grey, 200, 1rem, initial, initial, normal);
        @include sizing(0 1rem 0 0, 0 1rem, 11rem, 3rem);
        @include background(initial, no-repeat, right, 1.5rem);
        background-image: url("../../media/Search.png");
        background-color: #c3bfbc;
        border-radius: 20rem;
        background-position-x: 7.5rem;
        border: none;
      }

      &__link {
        @include typography($dark-grey, 700, 0.8rem, uppercase, initial, 0.2rem);
        position: relative;
        transition: all 0.3s;
        padding-right: 1rem;

        @include respond(tab-port) { font-size: 1rem }
        @include respond(big-desktop) { font-size: 1.1rem }

        &::before {
          transition: 0.4s;
          content: "";
          position: absolute;
          background-color: $dark-orange;
          top: 1.6rem;
          left: 0;
          @include sizing(unset, unset, 0, .2rem);
          @include respond(desktop) { top: 2rem }
        }

        &:hover {
          opacity: 1;
          color: $dark-orange;
        }

        &:hover::before {
          width: 90%;
          @include respond(phone) { width: 85% }
        }
      }
    }
  }
}
