@import "../../variables/background";
@import "../../variables/breakpoints";
@import "../../variables/elements";
@import "../../variables/position";
@import "../../variables/scale";
@import "../../variables/typography";
@import "../../variables/variables";

.navigation {
  &__button {
    @include position(flex, none, flex-end, flex-end, absolute);
    width: 100%;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 9999;

    @include respond(phone) {
      top: 4rem;
      right: 4rem;
    }
  }

  &__navbar {
    position: relative;
    top: 0;
    width: 100%;
  }

  &__menu {
    background: rgba(255, 255, 255, 0.52);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.3);

    position: absolute;
    top: -100vh;
    left: 0;
    width: 100vw;
    height: 0;
    z-index: 5000;
    overflow: hidden;
    transition: top .9s ease, height .9s ease;

    &.active {
      top: 0;
      height: 90vh;
    }
  }

  &__item {
    @include position(inline-flex, column, center, center, none);
    height: 100%;
    width: 100%;
    list-style: none;
  }

  &__link {
    @include typography($dark-orange, 700, 2.5rem, none, none, none);
    padding: 0.5rem 2rem;

    &:hover { 
      @include ButtonHoverAnimation;
      border-radius: 1rem;
    }
    
    @include respond(phone) {
      font-size: 4rem;
    }
  }
}
