@import './variables/background';
@import './variables/breakpoints';
@import './variables/elements';
@import './variables/layout';
@import './variables/sizing';
@import './variables/typography';
@import './variables/variables';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  }
  
  html {
    background-color: #fff;
    font-family: $font-family;

  
  body{
    background-color: transparent;

  }
}
