@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/variables';


.opinion-card {
  @include layout(flex, column, center, center, initial);
  margin-bottom: 2rem;

  &__textarea {
    max-width: 60vw;
    @include layout(flex, column, center, initial, initial);
    @include respond(phone) { margin: 0 2rem; }
    @include respond(tab-land) { max-width: 30vw; }

    &__heading {
      text-align: center;
      @include typography($light-orange, 600, 2rem, initial, initial, 0.1rem);
      @include respond(phone) {
        text-align: left;
        margin: 0;
      }
    }
    &__description {
      @include typography(black, normal, 1rem, initial, initial, 0.1px);
      margin-top: 1.5rem;
    }
  }
}
