@import '../../variables/background';
@import '../../variables/breakpoints';
@import '../../variables/elements';
@import '../../variables/layout';
@import '../../variables/sizing';
@import '../../variables/typography';
@import '../../variables/variables';

.opinion {
  position: relative;
  margin-top: 5rem;
  z-index: 10;

  &__items {
    @include layout(flex, column, unset, unset, initial);
    text-align: center;

    @include respond(phone) {
      @include layout(inline-flex, row, space-around, initial, initial);
      text-align: left;
    }
    @include respond(tab-port) { margin: 0 6rem; }
    @include respond(tab-land) { margin: 0 8rem; }
  }
}
